// Specific CSS for your home-page
.home-banner {
  background-image: linear-gradient(to bottom, rgba(100, 100, 100, 0.5), rgba(200, 200, 200, 0.2)), url("handshake-landing-image.jpg");
  height: 100%;
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;

}

.home-flex-aspects {
  flex-direction: column;
  text-align: center;
  height: 100%;
  justify-content: space-around;
  background-color: transparent;
}

.home-page-content {
  width: 100%;
}

.home-page-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-title {
  color: white;
  font-size: 50px;
  // text-shadow: -1px -1px 0 #090909, 1px -1px 0 #090909, -1px 1px 0 #090909, 1px 1px 0 #090909;
}

.home-tag-line {
  color: white;
  font-size: 33px;
  // text-shadow: -1px -1px 0 #090909, 1px -1px 0 #090909, -1px 1px 0 #090909, 1px 1px 0 #090909;
}
