// Specific CSS for your home-page
.home-banner {
  background: url("handshake-landing-image.jpg");
  height: 75vh;
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.home-flex-aspects {
  flex-direction: column;
  text-align: center;
  height: 75vh;
  justify-content: space-around;
}

.home-page-content {
  width: 100%;
}

h1 {
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #090909, 1px -1px 0 #090909, -1px 1px 0 #090909, 1px 1px 0 #090909;
}

h2 {
  color: white;
  font-size: 33px;
  text-shadow: -1px -1px 0 #090909, 1px -1px 0 #090909, -1px 1px 0 #090909, 1px 1px 0 #090909;
}
