<div class="navbar-container">
  <div class="navbar-content">
    <%= link_to root_path, class:"text-decoration-none" do %>
    <div class="logo-container">
      <%= image_tag "logo.png", class: "navbar-logo" %>
      <div id=navbar-logo-text>
        <p><strong>WeShare</strong></p>
        <p>local.sharing.economy</p>
      </div>
    </div>
    <% end %>

    <div class="navbar-search-container">
      <p style="color: white">placeholder for search form</p>
    </div>

    <div class="avatar-container">
      <%= image_tag "generic-profile-picture-2.jpeg", class: "avatar-bordered" %>
    </div>
  </div>
</div>