<div class="home-banner">
  <div class="main-container-flex home-flex-aspects">
    <div class="home-page-content">
      <h1>sustainable.affordable.social.</h1>
      <h2>share your belongings for a brighter future</h2>
    </div>
    <div class="home-page-content">
      <p>placeholder for search form</p>
    </div>
  </div>
</div>
