 .main-container-flex {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
 }

 .main-container-block {
  width: 90%;
  display: block;
  justify-content: center;
  margin: auto;
 }

 .grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
 }

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
