.navbar-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $custom-primary;
 }

 .navbar-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .navbar-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
   }
 }

 .logo-container {
  display: flex;
  width: 80px;
  align-items: center;

  .navbar-logo {
    width: 30px;
    height: 30px;
  }
}

#navbar-logo-text {
  margin-left: 10px;
  display: block;
  align-items: flex-start;

  p, a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
   }
  }

 .avatar-container {
  width: 80px;
  display: flex;
  justify-content: end;
 }
